* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana;
}

header {
    background-color: darkslategray;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 15rem;
}
header #title {
    cursor: pointer;
}

.searchInput {
    background-color: transparent;
    padding: .5rem 1rem;
    background-color: aliceblue;
    border: 1px solid transparent;
    border-radius: .5rem;
}


#moviesElement {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3rem 15rem;
    background-color: lightgray;
    gap: 2rem;
}

.movie {
    width: 100%;
    height: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
}

.movie img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.movie .detail {
    padding: .5rem 1rem;
}
.movie .detail h4 {
    font-size: 12px;
    margin-bottom: .5rem;
}
.movie .detail p {
    font-size: 11px;
}

.pagination {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
}
.pagination #prev, 
.pagination #next {
    padding: .75rem 1rem;
    background-color: darkslategray;
    color: aliceblue;
    border-radius: .4rem;
    cursor: pointer;
    font-weight: 700;
}